@font-face {
    font-family:'Outfit' ;
    src: url(fonts/Outfit.ttf) format(truetype);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

html {
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: #000D1B;
    height: 100%;
}

.container {
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

.degrade {
    background: linear-gradient(to right, red, blue);
}

/* ESTILO DO HEADER */


header {
    text-align: center;
    margin-bottom: 40px;
}

header img {
    max-width: 200px;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    font-family: 'Louis Geroge Cafe Bold', sans-serif;
    margin-bottom: 25px;
    color: rgb(65 , 65 , 65);
    font-weight: 600;
}

p {
    font-size: 1.2em;
}

.link-faculdade {
    color: rgb(101, 101, 171);
}

.link-faculdade:hover {
    text-decoration: underline;
}

section.botoes-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

span {
    font-weight: bolder;
}

a.link button {
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    border-radius: 20px;
    font-size: 1.2em;
    cursor: pointer;
    color: #fff;
    transition: .3s;
}

a.link i {
    font-size: 1.6em;
}

a.link button:hover {
    transform: scale(1.04);
}

footer a.btn-footer:hover {
    transform: scale(1.1);
}

/* ESTILO DO FOOTER */

footer {
    text-align: center;
    margin: 30px;
}
footer a.btn-footer{
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 2em;
    line-height: 60px;
    border-radius: 50%;
    margin: 0 10px;
    transition: .2s;
}



